body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 25vh;
    background-image: url("images/movie.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.82);
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    margin-bottom: 1em;
} 

.title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 4em;
    box-sizing: border-box;
}

h1 {
    padding-left: 2em;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.myWatchlist {
    font-size: 1rem;
    color: white;
    font-weight: 300;
    transform: translateY(50%);
}

a {
    text-decoration: none;
}

.search-input {
    background: grey;
    width: 70%;
    display: flex;
    border-radius: 5px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    color: black;
    height: 2em;
}

input{
    letter-spacing: .4px;
    color:rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 1rem;
    }

#searchFilm {
    box-sizing: border;
    background-image: url("images/search.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 35px;
    width: 75%;
    margin: 0;
    border: 0;
    border-radius: 5px 0 0 5px;
    border-left: 1px solid ;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    border-color:rgba(0, 0, 0, 0.4);
}

#submit {
    box-sizing: border;
    width: 25%;
    margin: 0;
    border: 0;
    border-radius: 0 5px 5px 0;
    border-right: 1px solid ;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    border-left: 1px solid ;
    border-color:rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

*:focus {
    outline: none;
}

#submit:hover {
    background-color:rgba(99, 94, 94, 0.6);
}

#background-default {
    height: 75vh;
    position: relative;
    color: rgba(173, 168, 168, 0.308);
    font-size: 2rem;
}

.background-default {
    width: 40%;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.subtitle-default {
    margin: 0;
    font-size: 1.5rem;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}



#movie-poster{
    width: 10rem;
    border-radius: 5px;
}

h2 {
    display: inline;
}

#movie-rating {
    display: inline;
}

.star {
    width: .7em;
    margin: 0 .5em 0 1em;
}

.add-icon {
    width: 1em;
    margin: 0 .5em 0 1em;
    position: relative;
    top: 2px;
}

.container {
    width: 70%;
    margin: 2em auto 0 auto;
    box-sizing: border-box;
    padding-bottom: 2em;
    border-bottom: solid 1px;
    border-color:rgba(0, 0, 0, 0.4);
}

.movie-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border;
}

.movie-info {
    margin-left: 2em;
}

.movie-info > * {
    margin-bottom: 1.5em;
}

.info-specs > * {
    margin-right: .6em;
}

main:first-child {
    border: none;
}

.add-watchlist {
    color: black;
    font-weight: 500;
    cursor: pointer;
}


.material-icons.md-48 { font-size: 100px; }

.material-icons.md-light { color: rgba(173, 168, 168, 0.308); }

